@font-face {
    font-family: 'Libre Caslon Text';
    src: url('./woff2/LibreCaslonText-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('./woff2/LibreCaslonText-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Libre Caslon Text';
    src: url('./woff2/LibreCaslonText-Italic.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
}